{% extends "./base.html" %}

{% block title %} Inicio Sesión HDM {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <h1 class="alert alert-info text-center">INICIO DE SESIÓN HOTEL DUERME BIEN</h1>

            {% if r %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h5>{{r}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            {% if r2 %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h5>{{r2}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body text-center">
                        {{ formulario }}
                        <br>
                        <div class="d-grid gap-2">
                            <button class="btn btn-warning rounded-pill" type="submit">{{nboton}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
