{% extends "./base.html" %}

{% block title %} 
    {{ cargo }}
{% endblock %}

{% block body %}
    {% if cargo == 'administrador' %}
    <body>
        hola admin
    </body>

    {% elif cargo == 'encargado' %}
    <body>
        <div class="row">
            <!--style="background: url(/static/img/fondo.jpg); background-size:cover;">  -->
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div>
                    <center><h3 class="alert alert-warning">PRECIOS DE HABITACIONES</h3></center>
                </div>
                <div class="card">
                    <img src="/static/img/habitacion.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <p class="card-text">2 PERSONAS = $25.000</p>
                        <p class="card-text">4 PERSONAS = $40.000</p>
                        <p class="card-text">6 PERSONAS = $75.000</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                <center><h3 class="alert alert-success">ESTADO HABITACIONES</h3></center>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            AQUI IRAN CARDS CON HABITACIONES ACTIVAS
                        </table>
                    </div>
            </div>
        </div>       
    </body>

    {% endif %}

{% endblock %}